#o-wrapper {
    width:  1020px;
}

a.red-link{
    color:#9c253f;
}

a.red-link:hover{
	color:#de2c3c;
	text-decoration: none;
}

a.blue-link {
    color:#2d538e;
}

a.blue-link:hover {
	color:#0daafe;
	text-decoration: none;
}

.cols-out {
    padding-right:15px;
    height:224px;
}

h1 {
	font-family: "bebas-bold", sans-serif;
	margin-top: -20px;
}

p.content {
	font-family: "modern", sans-serif;
	font-size: 16px;
	line-height: 24px;
	word-spacing: -4px;
	padding-top: 20px;
	padding-right: 20px;
}

.cols-overlay ul {
    margin-top:-10px;
    margin-left:13px;
}

.cols-overlay ul li {
    color:#fff;
    font-size:15px;
    padding-right:15px;
}

#contact-area {
	width: auto;
    margin: 0 5% 90px 5%;
    position: relative;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	font-family: 'modern', sans-serif;
	font-size: 14px;
	margin: -34px 0px 10px 100px;
	border:2px solid rgb(230, 230, 230);
    box-shadow:none !important;
    height: 32px;
    width: 660px;
    border-radius: 4px;
}

#contact-area textarea {
	height: 120px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #2d538e;
    opacity: .8;
}

#contact-area input.submit-button {
    margin: 10px 160px 0 0;
    width:90px;
    padding-top:8px;
    padding-bottom:25px;
	float: right;
    background:#fff;
    border:2px solid rgb(230, 230, 230);
    color:rgb(90, 90, 90);
}

label {
	margin: 0 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.8em;
    font-weight: normal;
    font-family: 'bebas', sans-serif;
}

#image-set {
    margin-top: 24px;
    width: 100%;
    text-align: center;
}

#image-set a img {
    height: 120px;
    width: auto;
    border-radius: 4px;
    margin: 6px;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

#image-set a img:hover {
    opacity: .8;
}

.last {
    margin-right:0px !important;
    margin-left:10px;
}

.events_section {
    width:225px;
    margin-right:150px;
    height:200px;
    display:inline-block;
    margin-bottom:50px;
    overflow: hidden;
    border-radius:6px;
}

.event {
    background:#0f2e5c;
    width:225px;
    height:200px;
    float:left;
    border-radius:6px;
}

.reds {
    background:#9c2530;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
}

.event .date {
    height:132px;
    width:100%;
    color:white;
    text-align:center;
    line-height:132px;
    font-size:35px;
    font-family:'modern', sans-serif;
}

.event .date-full {
    background:rgb(35, 35, 35);
    /*height:68px;*/
    height:200px;
    width:100%;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
    color:rgb(120, 120, 120);
    text-align: center;
    line-height:68px;
    font-size:22px;
    font-family:'modern', sans-serif;
    position:relative;
    bottom:0px;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

/* Second Part of Upcoming box */

.event_info {
    float:right;
    width:225px;
    height:200px;
}

.event_info .title {
    padding-top:50px;
    font-size:18px;
    text-align: center;
}

.event_info .dest {
    font-size:14px;
    text-align:center;
}

.date-full p {
    margin-top:0px;
    padding-right:10px;
    padding-left:10px;
    text-align:center;
    font-size:12px;
    color:rgb(155, 155, 155);
}
.events_section:hover .date-full {
    bottom:132px;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    color:#fff;
}