#o-wrapper {
    width:  1020px;
}

a.red-link{
    color:#9c253f;
}

a.red-link:hover{
	color:#de2c3c;
	text-decoration: none;
}

a.blue-link {
    color:#2d538e;
}

a.blue-link:hover {
	color:#0daafe;
	text-decoration: none;
}

.cols-out {
    padding-right:15px;
    height:224px;
}

h1 {
	font-family: "bebas-bold", sans-serif;
	margin-top: -20px;
}

p.content {
	font-family: "modern", sans-serif;
	font-size: 16px;
	line-height: 24px;
	word-spacing: -4px;
	padding-top: 20px;
	padding-right: 20px;
}

.cols-overlay ul {
    margin-top:-10px;
    margin-left:13px;
}

.cols-overlay ul li {
    color:#fff;
    font-size:15px;
    padding-right:15px;
}

#contact-area {
	width: auto;
    margin: 0 5% 90px 5%;
    position: relative;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	font-family: 'modern', sans-serif;
	font-size: 14px;
	margin: -34px 0px 10px 100px;
	border:2px solid rgb(230, 230, 230);
    box-shadow:none !important;
    height: 32px;
    width: 660px;
    border-radius: 4px;
}

#contact-area textarea {
	height: 120px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #2d538e;
    opacity: .8;
}

#contact-area input.submit-button {
    margin: 10px 160px 0 0;
    width:90px;
    padding-top:8px;
    padding-bottom:25px;
	float: right;
    background:#fff;
    border:2px solid rgb(230, 230, 230);
    color:rgb(90, 90, 90);
}

label {
	margin: 0 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.8em;
    font-weight: normal;
    font-family: 'bebas', sans-serif;
}
